h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.Webpage {
    color: #33F9FF;
}

h1 {
    color: #F333FF;
}

h2 {
    color: #F333FF;
}

body {
    background-color: yellow;
}

li {
    color: #FF3371;
}

img src {
    color: #FF3371;
}

p {
    color: #FF3371;
}

h3 {
    text-align: center;
}
h1{
   font-family: 'Big Shoulders Stencil Display', cursive;
}